.title {
  font-size: 2.5vh;
  margin-left: .5vw;
}
#adminAcademy {
  cursor: pointer;
}
h1 {
  color: #362874;
}
.navbar {
  padding-top: 2vh;
  padding-bottom: 1vh;
  color: white;
  display: flex;
  text-align: right;
  background-color: #362874;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
nav a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}
nav ul {
  display: flex;
  list-style-type: none;
}
.main {
  padding: 1rem;
}
#courseImg{
  width: 5vh;
  height: 4.5vh;
}
#studentImg  {
  width: 4vh;
  height: 4vh;
  margin-left: 5vh;
}
#logoutImg {
  width: 3.5vh;
  height: 3.5vh;
  margin-left: 26vw;
}
#academyImg {
  width: 5vh;
  height: 5vh;
  margin-right: 1vh;
}
#academyImg {
  margin-left: 18vw;
}
#adminCourse,
#adminStudents,
#userEnrolledCourse {
  margin-left:1vh;
  cursor: pointer;
}
#logout {
  margin-left: 1vh;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 90vw;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 10vh;
  box-shadow: 1px 1px 10px #3628748a;
}
th {
  background-color: #362874;
  color: #fff;
}
th,
td {
  text-align: left;
  padding: 8px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #36287425;
}
.searchBar {
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.search {
  margin-left: 36vw;
  border-width: 1px;
  width: 20vw;
	height: 6vh;
}
#addStudentBtn a {
  text-decoration: none;
  padding: 10px;
  padding-bottom: 15px;
  position:fixed;
	bottom: 5vh;
	right: 2vh;
	background-color: #362874;
	color:#FFF;
  border: none;
  border-radius: 1vh;
	text-align:center;
	box-shadow: 1px 1px 10px #3628748a;
}
#addStudent,
#updateStudent {
  border: none;
  width: 8vw;
  border-radius: 10px;
  height: 6vh;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  margin: 25px;
  cursor: pointer;
  background-color: #362874;
  box-shadow: 1px 1px 1px #3628748a;
}
#studentSearch {
  border: none;
  width: 6vw;
  border-radius: 1vh;
  height: 6vh;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  background-color: #362874;
  box-shadow: 1px 1px 10px #3628748a;
}
#adminEditStudent {
  width: 30px;
}
#adminDeleteStudent {
  margin-left: 20px;
  width: 30px;
}
#error {
  color: red;
  font-size: small;
}
input, select {
  font-size: 16px;
  width: 20vw;
  height: 5vh;
}
#joinedDate {
  width: 18vw;
}
.joinDate {
  display: grid;
  grid-template-columns: auto auto;
 
}
.joinLable {
  float: right;
  margin-top: 3vh;
}
select {
  margin-left: 15px;
}
.genderDiv {
  margin-top: 15px;
  margin-right: 15px;
}
label {
  font-size: 15px;
  color: #362874;
}
.personalInfo, .personalInfoContainer, .addressInfo, .addressInfoContainer, .courseInfo, .courseInfoContainer {
  display: grid;
  grid-template-columns: auto auto
}
.personalInfo, .addressInfo {
  width: 90vw;
  margin-left: 2vw;
  margin-top: 5vh;
  text-align: end;
  padding: 5vh;
  border-radius: 10vh;
  box-shadow: 1px 1px 10px #3628748a;
} 
.courseInfo {
  width: 90vw;
  margin-left: 2vw;
  margin-top: 5vh;
  text-align: end;
  padding: 5vh;
  border-radius: 10vh;
  box-shadow: 1px 1px 10px #3628748a;
}
.personalInfoImg, .addressInfoImg{
  width: 15vw;
  height: 25vh;
  margin-top: 10vh;
  margin-left: 15px;
}
.courseInfoImg  {
  width: 10vw;
  height: 20vh;
  margin-top: 1vh;
}
.personalInfo-left, .addressInfo-left, .courseInfo-left {
  text-align: center;
}
.courseInfoContainer > div {
  margin-top: 8vh;
}
.AdmincourseGrid {
  width: 500px;
  height: 220px;
  margin: 20px;
  border-radius: 25px;
  margin-left: 100px;
  margin-top: 100px;
  border-width: .5px;
  box-shadow: 1px 1px 10px #3628748a;
}
.AdminContentGrid > div {
  padding: 10px;
}
.courseList {
  margin-left: 5vw;
  display: grid;
  grid-template-columns: auto auto auto;
}
#editCourse {
  width: 30px;
  margin-left: 380px;
  padding: 10px;
}
#deleteCourse {
  width: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.searchBar {
  margin-top: 25px;
  text-align: center;
}
.searchBar > input {
  height: 35px;
  margin-left: 20px;
}
#academySearch {
  width: 250px;
  margin-left: 150px;
}
#academySearchBtn {
  height: 40px;
  width: 100px;
}
#AcademySearch {
  width: 250px;
}
.AcademyList {
  display: grid;
  grid-template-columns: auto auto auto;
}
.academyGrid {
  width: 350px;
  height: 350px;
  border-radius: 25px;
  margin-left: 4vw;
  margin-top: 100px;
  box-shadow: 1px 1px 10px #3628748a;
}
.academyName, .academyImg {
  margin-left: 5px;
}
#editAcademy {
  width: 30px;
  margin-left: 250px;
}
#deleteAcademy {
  width: 30px;
  margin-left: 20px;
}
#academyImgView {
  width: 350px;
  height: 250px;
  object-fit: fill;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}