* {
  margin: 0vh;
  padding: 0vh;
}
.signup {
  height: 100vh;
  padding-top: 4vh;
  background-color: #614fff81;
}
h1 {
  text-align: center;
}
.error {
  color: red;
  margin-right: 2vh;
  text-align: right;
}
.signup-heading {
  width: 170vh;
  margin-left: 15vh;
  background-color: white;
  border-radius: 16vh;
}
.signup-grid,
.login-grid {
  display: grid;
  padding: 20px;
  grid-template-columns: auto auto;
}
.signup-right,
.login-right {
  width: 50vh;
  padding: 5vh;
  padding-right: 5vh;
}
input {
  width: 45vh;
  margin: 2vh;
  height: 4vh;
}
.signup-img {
  width: 70vh;
}
.signup-left {
  margin-top: 18vh;
  text-align: center;
}
h4 {
  float: right;
  padding: 2vh;
}
#submitButton,
#loginButton {
  background-color: #362874;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 2vh;
  cursor: pointer;
}
label {
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .signup-grid {
    display: flex;
    flex-direction: column;
  }
}
.login {
  height: 100vh;
  padding-top: 18vh;
  background-color: #614fff81;
}
.login-img {
  width: 60vh;
  padding: 4vh;
}
.login-heading {
  width: 160vh;
  margin-left: 20vh;
  background-color: white;
  border-radius: 16vh;
}
.login-left {
  margin: 5vh;
  text-align: center;
}
.login-h {
  margin-bottom: 5vh;
}
